.content-section {
    width: 100%;
    max-width: 1368px;
    height: auto;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    background-color: var(--color-background);
    border-radius: 12px;
    overflow: hidden;
    gap: var(--spacing-small);
    margin-bottom:  var(--spacing-medium) ;

}

.content-section.reverse {
    flex-direction: row-reverse;
}

.content-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.content-text {
    width: 50%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-secondary);
    justify-content: flex-end;
    border-radius: 24px;
}

.content-title {
    font-size: var(--font-size-64);           
    font-weight: var(--font-weight-regular);          
    color: var(--color-primary);            
    margin-bottom: var(--spacing-x-medium);
}

.content-subtitle {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-2-0);
    color: var(--color-secondary);
    margin-bottom: var(--spacing-small);
}

.content-description {
    font-size: var(--font-size-14);                
    font-weight: var(--font-weight-regular);               
    line-height: var(--line-height-22);             
    color: var(--color-secondary);                
}
