.header {
    color: var(--color-primary);
    text-align: center;
    padding: var(--spacing-large);
    background-color: var(--color-background);
}

.header-title {
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-bold);
}
