.hero-section {
    text-align: center;
}

.hero-title {
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-regular);
    margin-bottom: var(--spacing-medium);
}

.hero-images {
    display: flex;
    justify-content: center;
    gap: var(--spacing-medium);
    margin-bottom: var(--spacing-x-large);
}

.hero-images img {
    border-radius: 16px;
    width: auto;
    height: auto;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: var(--font-size-16);  
    font-weight: var(--font-weight-regular);
    line-height: 22px;
    color: var(--color-primary);
    text-align: center;
    white-space: pre-wrap;
    margin-block-start: var(--spacing-large);
}
.hero-content p + p {
    margin-top: 100px; 
}
