:root {
    /* Màu sắc */
    --color-primary: #2C2A29;
    --color-secondary: #1F1F1F;
    --color-background: #ffffff;

    /* Font chữ */
    --font-family-serif: 'Georgia', serif;
    --font-family-sans: 'Lato', sans-serif;
    /* Font weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Cỡ chữ */
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-40: 40px;

    /* Line height */
    --line-height-1-4: 1.4;
    --line-height-1-6: 1.6;
    --line-height-2-0: 2;

    /* Khoảng cách */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
}
